html, body{
	margin: 30px 0 0 0;
	padding: 0; 
	cursor: default;\
	color: #101010;
	background-color: #f0f0f0;
}

/*.line {
	width: 36pt;
	margin-bottom: 5pt;
	border-top: 1px solid #eb2a2a;
	margin-left: -10pt;
}*/

.bar {
	position: fixed;
	top: 0;
	left: 0;
	height: 40px;
	background-color: #f0f0f0;
	/*background-image: linear-gradient(to top, rgba(240, 240, 240, 0), rgba(240, 240, 240,1) 30px);*/
	width: 100vw;
	z-index: 100;
	margin:0;
	font-size: 10pt;
	line-height: 10pt;
	font-family: "PT Sans Caption", sans-serif;
	/*color: #eb2a2a;*/
	right:30px;
/*	writing-mode: vertical-rl;
  	transform: rotate(180deg);
  	text-align: right;*/
}

#home-button {
	/*padding-top: 20px;*/
	/*color: #101010;*/
	/*position: absolute;*/
	/*cursor: crosshair;*/
}

#kb-button {
	/*position: absolute;
	left: 30px;*/
	text-align: center;
	margin: auto;
	font-family: 'PT Serif', serif;
	font-size: 16pt;
	font-weight: 700;
	letter-spacing: 0.04;
	margin-top: 10pt;
	cursor: crosshair;
}

.bar a {
	float: right;
	margin-right: 30px;
	margin-top: 10px;
	color: #bbb;
	transition: 0.2s;
}

.bar a:hover{
	color: #eb2a2a;
	text-decoration: none;
	cursor: crosshair;
	transition: 0.3s;
}

#heading-row {
	display: block;
}

.project-overview {
	margin-bottom: 36pt;
}

.project-heading {
	font-size: 24pt;
	font-family: 'PT Serif', serif;
	font-weight: 700;
	line-height: 24pt;
	letter-spacing: 0.015em;
}

.overview-heading {
	text-transform: uppercase;
	/*border-top: 2px solid #101010;*/
	padding: 8pt 0pt 8pt 0pt;
	font-size: 10pt;
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: 400;
	line-height: 14pt;
	letter-spacing: 0.4em;
	margin-bottom: 1pt;
}

.overview-text {
	font-size: 10pt;
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: 400;
	line-height: 14pt;
	margin-top: 5pt;
}

#subheading-row .line {
	border-color: #101010;
}
/*.caption-heading {
	text-transform: uppercase;
	border-top: 2px solid #101010;
	padding: 8pt 0pt 8pt 0pt;
	font-size: 12pt;
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: 400;
	line-height: 16pt;
	letter-spacing: 0.4em;
}*/

.categories {
	/*margin-top: 24pt;*/
	font-size: 10pt;
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: 400;
	line-height: 14pt;
	/*color: #999;*/
	/*margin-bottom: 48pt;*/
	/*width: 44%;
	margin-right: 5%;*/
	margin-bottom: 14pt;
	margin-top: 0;
	display: inline-block;
	vertical-align: top;
}

.category-header {
	font-family: 'PT Serif', serif;
	font-size: 11pt;
	font-weight: 700;
	line-height: 20pt;
	/*color: #eb2a2a;*/

}

.spacer {
	height: 48pt;
}

.project-details {
	margin-bottom: 24pt;
}

.line {
	width: 36pt;
	margin-bottom: 6pt;
	border-top: 1px solid #eb2a2a;
}

.caption-text {
	font-size: 10pt;
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: 400;
	line-height: 14pt;
	font-style: italic;
/*	margin-bottom: 6pt;*/
	width: 70%;
	float: right;

}

.img {
	height: 70vh;
	margin-bottom: 20px !important;
	position: relative;
	/*object-fit: cover;*/
	/*background-color: #101010;*/
}

/*.img-full-screen {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}*/

img {
	object-fit: cover !important;
	position: absolute;
}

video {
	/*object-fit: cover !important;*/
	object-position: top;
	position: absolute;
	/*position: relative;*/
	/*top: 0%;*/
}

.button {
	position: relative;
	padding: 2pt 4pt 3pt 4pt; 
	display: inline;
	border: 1px solid #eb2a2a;
	top: -20px;
	border-radius: 2pt;
	transition: 0.2s;
	margin-right: 10px;
	cursor: crosshair;
}

.button:hover {
	background-color: #eb2a2a;
	transition: 0.3s;
}

.button a {
	color: #eb2a2a;
	font-size: 10pt;
	text-decoration: none;
	text-align: center;
	cursor: crosshair;
}

.button:hover a {
	color: #f0f0f0;
	text-decoration: none;
}

.process-container {
	height: 1000px;
	width: 100%;
	background-color: red;
	position: absolute;
	margin-top: 0;
	transition: 0.8s;
}

.process-hide {
	display: none;
	/*height: 0;*/
	/*transform: scaleY(0);*/
	/*transition: 0.8s;*/
}

/************************************************/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  /*background-size: cover;*/
  /*object-fit: cover;*/
}

/* Hide the images by default */
.mySlides1 {
  display: none;
}

.mySlides2 {
  display: none;
}

.show-slide {
	display: block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0%;
  /*padding-top: calc(70vh - 36pt);*/
  padding-top: calc(35vh - 24pt);
  /*top: calc(50% - 18pt);*/
  /*width: auto;*/
  /*margin-top: -40pt;*/
  /*height: 32pt;
  width: 32pt;*/
  height: 100%;
  width: 50%;
  /*color: #101010;*/
  /*color: #eb2a2a !important;*/
  /*font-weight: bold;*/
  font-size: 18pt;
  transition: 0.2s;
  border-radius: 100%;
  user-select: none;
  cursor: crosshair;
/*  background-color: #f0f0f0;
  opacity: 0.8;
  text-align: center;
  border: 1pt solid #eb2a2a;*/
  opacity: 0.2;
  display: inline-block;
  box-sizing: border-box;
}

/* Position the "next button" to the right */
.next {
	text-align: right;
  right: 12pt;
  cursor: e-resize;
}

.prev {
	text-align: left;
	left: 12pt;
	cursor: w-resize;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
/*  background-color: rgba(0,0,0,0.8);*/
  color: #eb2a2a !important;
  opacity: 1;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
/*.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}*/

/* The dots/bullets/indicators */
/*.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}*/

/* Fading animation */
/*.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
*/
