
/*********** Remove grid border styles on project pages ***********/

.left-head-container > ul {
	border: none;
}

hr.long {
	margin-bottom: 12px;
}

h1, h2, h3, h4{
	border: none;
}

p {
	border: none;
}

.left-intro-container > ul {
  border: none;
}


/*********** slideshow elements ***********/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides1 {
  display: none;
}

.mySlides2 {
  display: none;
}

.mySlides3 {
  display: none;
}

.mySlides4 {
  display: none;
}

.show-slide {
	display: block;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0%;
  height: 100%;
  width: 50%;
  font-size: 18pt;
  transition: 0.2s;
  border-radius: 100%;
  user-select: none;
  cursor: crosshair;
  opacity: 0.2;
  display: inline-block;
  box-sizing: border-box;
}

.next {
	text-align: right;
 	right: 12pt;
 	cursor: e-resize;
}

.prev {
	text-align: left;
	left: 12pt;
	cursor: w-resize;
}

.prev:hover, .next:hover {
  color: #eb2a2a !important;
  opacity: 1;
}

.prev a, .next a {
	position: absolute;
	top: 50%;
}

.prev a{
	left: 0;
}

.next a{
	right:0;
}