html, body{
	margin: 30px 0 0 0;
	padding: 0; 
	cursor: default;\
	color: #101010;
	background-color: #f0f0f0;
}

/*********** top bar with contact and home buttons ***********/
.bar {
	position: fixed;
	top: 0;
	left: 0;
	height: 40px;
	background-color: #f0f0f0;
	width: 100vw;
	z-index: 100;
	margin:0;
	font-size: 10pt;
	line-height: 10pt;
	font-family: "PT Sans Caption", sans-serif;
	right:30px;
}

.bar a {
	float: right;
	margin-right: 30px;
	margin-top: 10px;
	color: #bbb;
	transition: 0.2s;
}

.bar a:hover{
	color: #eb2a2a;
	text-decoration: none;
	cursor: crosshair;
	transition: 0.3s;
}

/*********** heading elements ***********/
#heading-row {
	display: block;
}

.project-overview {
	margin-bottom: 36pt;
}

.project-heading {
	font-size: 24pt;
	font-family: 'PT Serif', serif;
	font-weight: 700;
	line-height: 24pt;
	letter-spacing: 0.015em;
}

.overview-heading {
	text-transform: uppercase;
	padding: 8pt 0pt 8pt 0pt;
	font-size: 10pt;
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: 400;
	line-height: 14pt;
	letter-spacing: 0.4em;
	margin-bottom: 1pt;
}

.overview-text {
	font-size: 10pt;
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: 400;
	line-height: 14pt;
	margin-top: 5pt;
}

#subheading-row .line {
	border-color: #101010;
}

/*********** styles for sections of task/process/solution ***********/
.categories {
	font-size: 10pt;
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: 400;
	line-height: 14pt;
	margin-bottom: 14pt;
	margin-top: 0;
	display: inline-block;
	vertical-align: top;
}

.category-header {
	font-family: 'PT Serif', serif;
	font-size: 11pt;
	font-weight: 700;
	line-height: 20pt;
}

.spacer {
	height: 48pt;
}

.project-details {
	margin-bottom: 24pt;
}

.line {
	width: 36pt;
	margin-bottom: 6pt;
	border-top: 1px solid #eb2a2a;
}

.caption-text {
	font-size: 10pt;
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: 400;
	line-height: 14pt;
	font-style: italic;
	width: 70%;
	float: right;
	margin-bottom: 14pt;

}

.img {
	height: auto;
	margin-bottom: 20px !important;
	position: relative;
}


.button {
	position: relative;
	padding: 2pt 4pt 3pt 4pt; 
	display: inline;
	border: 1px solid #eb2a2a;
	top: -20px;
	border-radius: 2pt;
	transition: 0.2s;
	margin-right: 10px;
	cursor: crosshair;
}

.button:hover {
	background-color: #eb2a2a;
	transition: 0.3s;
}

.button a {
	color: #eb2a2a;
	font-size: 10pt;
	text-decoration: none;
	text-align: center;
	cursor: crosshair;
}

.button:hover a {
	color: #f0f0f0;
	text-decoration: none;
}

.button-process {
	border: 1px solid #101010;
}

.button-process a {
	color: #101010 !important;
}

.button-process:hover {
	background-color: #101010 !important;
}

.button-process:hover a{
	color: #f0f0f0 !important;
}

.process-container {
	height: 1000px;
	width: 100%;
	background-color: red;
	position: absolute;
	margin-top: 0;
	transition: 0.8s;
}

.process-hide {
	display: none;
}

/*********** slideshow elements ***********/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides1 {
  display: none;
}

.mySlides2 {
  display: none;
}

.mySlides3 {
  display: none;
}

.mySlides4 {
  display: none;
}

.show-slide {
	display: block;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0%;
  height: 100%;
  width: 50%;
  font-size: 18pt;
  transition: 0.2s;
  border-radius: 100%;
  user-select: none;
  cursor: crosshair;
  opacity: 0.2;
  display: inline-block;
  box-sizing: border-box;
}

.next {
	text-align: right;
 	right: 12pt;
 	cursor: e-resize;
}

.prev {
	text-align: left;
	left: 12pt;
	cursor: w-resize;
}

.prev:hover, .next:hover {
  color: #eb2a2a !important;
  opacity: 1;
}

.prev a, .next a {
	position: absolute;
	top: 50%;
}

.prev a{
	left: 0;
}

.next a{
	right:0;
}
