html, body{
	margin: 0;
	padding: 0; 
	padding-top: 48px;
	cursor: default;
	color: #343A46;
	scroll-behavior: smooth;
}

main {
	margin: auto;
	width: 84%;
	max-width: 1204px;
}

#top {
	padding-top: 96px;
	margin-top: 96px;
}



/*********** Text Styles ***********/
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 20px;
}

h1, h2, h3, h4 {
	margin: 0;
	border-bottom: 1px solid #dfe2e8;
}

h1 {
	font-family: 'Kanit', 'Source Sans Pro', sans-serif;
	font-size: 48px;
	line-height: 52px;
	font-weight: 200;
}

h2 {
	font-family: 'Kanit', 'Source Sans Pro', sans-serif;
	font-size: 32px;
	line-height: 38px;
	font-weight: 300;
	border-top: 1px solid #dfe2e8;
}

h3 {
	font-family: 'Kanit', 'Source Sans Pro', sans-serif;
	font-size: 24px;
	line-height: 36px;
	font-weight: 400;
}

h4 {
	margin-bottom: 12px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	font-style: italic;
	color: #454E5E;
}

p {
	border-top: 1px solid #dfe2e8;
	border-bottom: 1px solid #dfe2e8;
	margin: 0 0 1em 0;
}

.even-2col p {
	margin-top: 0;
	color: #454E5E;
	border-top: none;
}

.social {
	font-size: 1.25em;
	margin: 1em 0.25em 0 0;
}

/*********** Link Styles ***********/
a {
	box-sizing: border-box;
	text-decoration: none;
	color: #343A46;
	border: 1px solid transparent;
	transition: .2s;
}

a:hover {
	text-decoration: inherit;
	color: inherit;
	border: 1px solid rgba(52, 58, 70, 0.5);
	transition: .2s;
}

.project-container > a {
	position: absolute;
	height: 100%;
	width: 100%;
}

.horiz-list > li > a {
	padding: 4px 8px;
	border: 1px solid rgba(52, 58, 70, 0.5);
	transition: .2s;
}

.horiz-list > li > a:hover {
	background-color: rgba(52, 58, 70, 0.2);
	transition: .2s;
}

/*********** List Styles ***********/
ul {
	box-sizing: content-box;
	list-style: none;
	margin: 0;
	padding: 0;
}

.left-intro-container > ul {
	padding: 12px 0 0 0;
	border-top: 1px solid #dfe2e8;
}

li {
	padding: 0 0 12px 0;
}

.horiz-list > li {
	font-family: 'Kanit', 'Source Sans Pro', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: .1em;
	float: left;
	padding-right: 8px;
}

/*********** HR Styles ***********/
hr {
	margin: 12px auto 24px 0px;
	width: 72px;
	height: 0.5px;
	border: none;
	background-color: #728097;

}

hr.long {
	width: 100%;
}


/*********** Spacers ***********/
.spacer-sm {
	height: 12px;
}

.spacer-md {
	height: 24px;
}


/*********** Background Grid ***********/
.background-grid-container {
	position: fixed;
	top: 0;
	margin: auto;
	width: 84%;
	max-width: 1204px;
	height: 100%;
	z-index: -100;
}

.background-grid1 {	
	height: 100%;
 	display: grid;
 	grid-template-columns: 0.5fr 1fr;
 	grid-template-rows: 1fr;
 	grid-column-gap: 60px;
 	grid-auto-flow: row;
 	grid-template-areas: ". .";
}

.background-grid2 {
	height: 100%
	margin-bottom: 60px;
 	display: grid; 
 	grid-template-columns: 1fr; 
 	grid-template-rows: max-content max-content; 
 	grid-row-gap: 24px; 
 	grid-template-areas: "." "."; 
 	background-color: yellow;
 	opacity: .2;
}

.bg-div {
	width: 100%;
	height: 100%;
	background-color: #a2abba;
	opacity: .06;
}

.bg-div-horiz {
	position: absolute;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100%;
	background-color: #a2abba;
	opacity: .06;
	z-index: -50;
}

.bg-div-horiz-2 {
	position: absolute;
	top: 0;
	right: -8vw;
	width: 8vw;
	height: 100%;
	background-color: #a2abba;
	opacity: .06;
	z-index: -50;
}

/*********** Grid Linear Details ***********/

.show-grid {
	border: 1px solid #dfe2e8;
}

.show-left {
	border-left: 1px solid #dfe2e8;
}

.show-right {
	border-right: 1px solid #dfe2e8;
}

.show-top {
	border-top: 1px solid #dfe2e8;
}

.show-bottom {
	border-bottom: 1px solid #dfe2e8;
}


/*********** Content Section Styles ***********/

.project-container {
	position: relative;
}

.asymmetric-2col {	
	position: relative;
	margin-bottom: 84px;
 	display: grid;
 	grid-template-columns: 0.5fr 1fr;
 	grid-template-rows: 1fr;
 	grid-column-gap: 60px;
 	grid-auto-flow: row;
 	grid-template-areas: ". .";
}

.stick {
	position: -webkit-sticky;
	position: sticky;
	top: 96px;
	align-self: start;
}


.img-cap-2row {
	margin-bottom: 60px;
 	display: grid; 
 	grid-template-columns: 1fr; 
 	grid-template-rows: max-content max-content; 
 	grid-row-gap: 18px; 
 	grid-template-areas: "." ".";
}

.even-2col {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  grid-column-gap: 24px; 
  grid-template-areas: 
    ". ."; 
}

img {
	margin: 0;
	width: 100%;
	height: auto;
}

/*********** top bar nav ***********/

.top-bar {
	font-family: 'Kanit', 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: .1em;
	font-weight: 300;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 48px;
	background-color: #fefefe;
	z-index: 50;
	transition: 0.7s ease;
	transition-delay: 0.2s;
}

.nav-content {
	position: relative;
	width: 84%;
	max-width: 1204px;
	height: 48px;
	margin: auto;
	border-bottom: 0.5px solid #728097;
}

#logo {
	width: auto;
	height: 24px;
	float: left;
	padding-right: 8px;
}

#home-button {
	color: #555;
	text-align: left;
	float: left;
	letter-spacing: 0.04;
	padding-top: 1em;
}

.navigation {
	float: right;
	padding-top: 1em;
}

#home-button, .navigation {
	line-height: 24px;
}

.navigation li {
	float: left;
	padding-left: 36px;
}

.top-bar-hide {
	transform: translateY(-48px);
	transition: 0.5s ease;
}


/*********** TOOLTIP CSS ***********/
.tooltip {
	position: relative;
}

.tooltip .tooltiptext {
	visibility: hidden;
	bottom: calc(100% + 4px);
  	left: 0;
	background-color: white;
	border: 1px solid #d1d8e3;
	color: #728097;
	text-align: left;
	padding: 4px 8px;
	font-family: 'Source Code Pro', sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	font-style: normal;
 	position: absolute;
  	z-index: 1;
}

span.tooltiptext:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 6px;
      border-style: solid;
      border-color: #d1d8e3 transparent transparent transparent;
      top: 100%;
      left: calc(50% - 6px);
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}



/********* screen >1400px ***********/
@media screen and (min-width: 1400px){
	.bg-div-horiz-2 {
		right: calc(-0.5 * (100vw - 1204px));
		width: calc(0.5 * (100vw - 1204px));
	}
}


/*********** mobile styles ***********/


/********* screen <769px ***********/
@media only screen and (max-width: 769px){
	.background-grid1 {
		grid-column-gap: 24px;
	}

	.asymmetric-2col {
		grid-column-gap: 24px;
		margin-bottom: 48px;
	}

	.even-2col {
  		grid-template-columns: 1fr; 
  		grid-template-rows: max-content max-content; 
  		grid-row-gap: 10px; 
  		grid-template-areas:"." "."; 
	}
	.img-cap-2row {
		margin-bottom: 48px;
 		grid-row-gap: 12px; 
 	}

 	main, .nav-content, .background-grid-container {
 		width: 90%;
 	}

 	.bg-div-horiz-2 {
		right: -5vw;
		width: 5vw;
	}

 	/*********** Text Styles ***********/
 	body {
 		font-size: 13px;
 		line-height: 18px;
 	}

 	h1 {
 		font-size: 32px;
 		line-height: 38px;
 	}

 	h2 {
 		font-size: 24px;
 		line-height: 36px;
 	}

 	h3 {
 		font-size: 20px;
 		line-height: 28px;
 	}

}

/********* screen <481px ***********/
@media only screen and (max-width: 481px){

	.mobile-hide {
		display: none;
	}

	.asymmetric-2col {
  		display: grid; 
  		grid-template-columns: 1fr; 
  		grid-template-rows: max-content max-content; 
  		grid-row-gap: 12px; 
  		grid-template-areas: "." "."; 
  		margin-bottom: 40px;
	}

	.img-cap-2row {
		margin-bottom: 36px;
	}

	.stick {
		position: static;
	}

	/*********** Text Styles ***********/
	body {
		font-size: 12px;
		line-height: 16px;
	}

	h1 {
		font-size: 32px;
		line-height: 40px;
	}

	h4 {
		font-size: 12px;
		line-height: 18px;
	}

	h1.show-left, h1.show-right,
	h2.show-left, h2.show-right,
	h3.show-left, h3.show-right,
	h4.show-left, h4.show-right,
	p.show-left, p.show-right,
	.left-intro-container.show-right,
	.project-title.show-right,
	.project-desc.show-left {
		border: none;
	}


	.top-bar a{
	font-size: 10px;
	}
	
}


